/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}

.transparent {
  background-color: Transparent;
    background-repeat:no-repeat;
    border-width: 1px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

td:hover .transparent {
  background-color: #146839;
}

td .selected {
  background-color: #146839;
}

.selected {
  background-color: #146839;
}

.parcel{
  width: 30px;
  height: 30px;
}

.fieldbackground {
  background: url('/images/field.jpg');
  background-size: 1080px 750px, cover; 
}

table{

}