<div  [hidden]="submitted || areas.length == 0">
    <div class="alert alert-danger" *ngIf="areas.length < 1">Gelieve minstens 1 perceel te selecteren</div>
    <form (ngSubmit)="onSubmit()" #subscriptionForm="ngForm">
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" 
                class="form-control" 
                id="email" 
                name="email" 
                required 
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                [(ngModel)]="subscription.email"
                #email="ngModel" >
            <div [hidden]="(email.valid || email.pristine) || (email.errors && email.errors.pattern)" 
                class="alert alert-danger">
                 vul een email in
            </div>
             <div class="alert alert-danger" *ngIf="email.errors && email.errors.pattern">
                Email is ongeldig
             </div>
        </div>
        <div class="form-group">
            <label for="firstName">Voornaam</label>
            <input type="text" class="form-control" id="firstName" name="firstName" required [(ngModel)]="subscription.firstName" #firstName="ngModel">
            <div [hidden]="firstName.valid || firstName.pristine" 
                class="alert alert-danger">
            vul jouw voornaam in
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">Familienaam</label>
            <input type="text" class="form-control" id="lastName" name="lastName" required [(ngModel)]="subscription.lastName" #lastName="ngModel">
            <div [hidden]="lastName.valid || lastName.pristine" 
                class="alert alert-danger">
            vul jouw familienaam in
            </div>
        </div>
        <button type="submit" class="btn btn-default" [disabled]="!subscriptionForm.form.valid">Submit</button>
    </form>
</div>


    

